@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');




:root {
  /* --- Color Variables --- */
  --primary-color: #473ae0; 
  --secondary-color: #18164c; 
  --accent-color: #D9B061; 
  --text-color: #36383a; 
  --text-color-heading: #18164c;
  --light-text-color: #f8f9fa;
  --background-color: #fffafa;
  --background-color-body: #ebe9e5;
  --light-background-color: #f2f2f2;
  --border-color: #d6d6d6; 
  --border-color-light: #f0f0f0; 
  --color-light-blue: #c2e3fb;
  --color-thistle: #f5cdff;
  --color-grey: #f6f7fb;
  --color-pink:#fdcbc3;

  /* --- Spacing Variables --- */
  --spacing-xxs: 4px;   
  --spacing-xs: 8px;    
  --spacing-sm: 12px;
  --spacing-lsm: 14px;
  --spacing-md: 16px;  
  --spacing-lg: 24px;
  --spacing-xl: 32px;   
  --spacing-xxl: 48px;  
  --spacing-xxxl: 4rem;  
  --spacing-xxxxl: 5.5rem;  

  /* --- Font Variables (Optional, but good to include) --- */
  --base-font-family: "Roboto", sans-serif;
  /* --heading-font-family:  ClashDisplay-Variable; */
  --heading-font-family:  'PP Neue Montreal', sans-serif;
  --font-size-sm-1: 0.85rem;
  --font-size-sm-2: 0.9rem;
  --font-size-sm-3: 0.95rem;
  --font-size-base: 1rem;
  --font-size-1: 1.1rem;
  --font-size-2: 1.3rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.8rem;

  --line-height-base: 1.5;

  /* --- Border Radius Variables (Optional) --- */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;

  --transition-speed: 0.3s; /* Slightly increased for smoother menu animation */
  --transition-timing-function: ease-in-out;

}

/* --- Global Styles --- */
body {
  font-family: var(--base-font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-heading);
  /* margin-top: var(--spacing-lg); */
  font-family: var(--heading-font-family);
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
}

h1 { 
  font-size: 3.2rem;
  font-weight: 700;
}

h2 { font-size: 2.4em; }
h3 { font-size: 1.92em; }
h4 { font-size: 1.68em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

/* --- Paragraphs --- */
p {
  margin-bottom: var(--spacing-md);
}

/* --- Links --- */
a {
  color: var(--primary-color);
  text-decoration: none;
}

img{
  max-width: 100%;
  border-radius: var(--border-radius-xl);
  object-fit: contain;
}

button{
  border: 0;
  margin: 0;
  padding: 0;

}

/* --- Buttons --- */
.btn{
    padding: 20px 40px;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius-md);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-sm{
    display: inline-block;
    padding: 12px 20px;
    font-size: 0.875rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius-md);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
    color: var(--light-text-color);
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--secondary-color) !important;
    }
}

.btn-secondary {
    color: var(--text-color);
    background-color: white;

    &:hover {
        background-color: var(--secondary-color) !important;
    }
}

/* --- Utility Classes --- */
.text-center {
  text-align: center;
}

/* Navbar */
nav{ 
  padding: var(--spacing-lsm) 0;
  border-bottom: 1px solid var(--border-color-light);
    .navbar-brand {
        img{
            height: 48px;
            border-radius: 0;
        }
    }

    .nav-links{
      ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
          margin-right: var(--spacing-lg);
        }

        li{
          font-weight: 400;
          a {
            color: var(--text-color);
            transition: color 0.3s ease;
            font-size: 1.09rem;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }

    .mobile-navbar {
      display: none;      
    }
}

/* Hamburger Menu */
#hamburger-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Width of the icon */
    height: 25px; /* Height of the icon */
    padding: 0;
    position: relative;
    z-index: 101; /* Ensure it's above the nav and overlay */
}

#hamburger-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease-in-out; /* Smooth transition for bars */
}

/* Hamburger to Close Button Transformation when 'active' class is added */
#hamburger-toggle.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg); /* Move down and rotate */
}

#hamburger-toggle.active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

#hamburger-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg); /* Move up and rotate */
}

/* Mobile Nav Overlay */
.mobile-nav-overlay {
    position: fixed;
    top: 105px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 1050;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%); 
    transition: transform 0.5s var(--transition-timing-function), opacity 0.5s var(--transition-timing-function), visibility 0s linear 0.5s;
    /* Delay visibility change until after transitions */
}

.mobile-nav-overlay.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0s; /* Ensure no delay when opening */
}

/* Mobile Nav Content */
.mobile-nav-content {
    opacity: 0;
    /* transform: scale(0.95) translateX(100%);Combined transform if scale is desired, currently translateX is dominant */
    transform: translateX(100%); 
    /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.1s, opacity 0.3s ease-in-out 0.1s;
    /* Content slides slightly after overlay starts, and with a different easing */
}

.mobile-nav-content.active {
    transform: translateX(0) scale(1); /* Explicitly set scale to 1 when active */
    opacity: 1;
    transition-delay: 0s; /* Ensure no delay when opening content */
}

.mobile-nav-content nav {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.mobile-nav-content .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    padding: var(--spacing-xs) 0;
    border-bottom: none;
    transition: color var(--transition-speed);
}

.mobile-nav-content .nav-link:hover {
    color: var(--color-text-secondary);
}

/* Hero Section */
#hero-section {
  height: calc(100vh - 92px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        h5{
            color: var(--accent-color);
            font-size: 1.2em;
            margin-bottom: 0;
            font-weight: 500;
        }

        p{
            font-size: 1.2em;
            margin-bottom: var(--spacing-xl);
        }
    }

    img{
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
}

/* Trust Section */
#trust-section{
  background-color: var(--secondary-color);
  color: white;
  padding: var(--spacing-xxl) 0;
  text-align: center;

  h5{
    color: white;
    margin-bottom: var(--spacing-xl);

    i.bi{
      margin: 0 1rem;
    }
  }

  p{
    font-size: var(--font-size-1) !important;
    margin-bottom: 0 !important;
  }
}

/* Start Section */
#start-section{

  background-color: var(--color-grey);
  padding: var(--spacing-xxxxl) 0;

  h2 {
    margin-bottom: var(--spacing-lg);
  }

  .row{
    

    img{
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
  }
}

/* What we offer section */
#why-choose-us-section{
  margin: var(--spacing-xxxl) 0;
  .header{
    text-align: center;
    margin-bottom: var(--spacing-xl);    
  }

  .icon{
    margin-bottom: var(--spacing-md);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);

    i.bi{
      font-size: 2rem;
      color: var(--secondary-color);
    }
  }

  .offer-item:nth-child(1) .icon {
      background-color: var(--color-thistle);
  }

  .offer-item:nth-child(2) .icon {
      background-color: var(--color-grey);
  }

  .offer-item:nth-child(3) .icon {
      background-color: var(--color-light-blue);
  }

  .offer-item:nth-child(4) .icon {
      background-color: var(--color-pink);
  }
}

/* Countires */
#countries-section {
  background-color: var(--color-thistle);
  padding: var(--spacing-xxxxl) 0;

  h2 {
    margin-bottom: var(--spacing-xxl);
  }

  .country-group {
    list-style-type: none;
    padding: 0;

    .country-group-item {
      padding: 0 0 var(--spacing-xl) 0;
      margin: 0;
      border: none;

      &:last-child {
        padding: 0;
      }

      h4{
        /* font-size: 1.5rem; */

        &:hover{
          text-decoration: underline;
          text-decoration-color: white;
        }


      }
    }
  }

  #imageCarousel{
    .carousel-inner{
      border-radius: var(--border-radius-xl);

      img{
        object-fit: cover;
        height: 550px;
      }
    }

    #carousel-btn{
      position: absolute;
      right:0;
        .carousel-next, .carousel-prev {            
            color: var(--secondary-color);
            background: none;
        }

        .carousel-next{
          padding-left: .5rem;
        }

        i.bi{
          font-size: 2.2rem;
        }
    }
  }
}

/* FAQ Section */
#faq-section{
  padding: var(--spacing-xxxl) 0;

  .header{
      h2{
        margin-bottom: var(--spacing-xxl);
      }
  }

  h3{
    button{
      font-size: var(--font-size-2);
    }
  }

  .accordion-button{
    padding-left: 0;
  }

  .accordion-button:focus{
    box-shadow: none;
  }

  .accordion-button:not(.collapsed){
    color: var(--text-color);
    background-color: var(--color-grey);
    box-shadow: none;
  }

  .faq-alt{
    padding: var(--spacing-xl) var(--spacing-lg);
    background-color: var(--color-light-blue);
    border-radius: var(--border-radius-md);
  }
}

/* Register Section */
#register-section {
  padding: var(--spacing-xxxl) 0;
  background-color: var(--primary-color);
  color: white;

  h2{
    color: white;
  }

  ul{
    list-style-type: none;
    padding: 0;

    li{
      
      i.bi{
        padding-right: var(--spacing-sm);
      }

      font-size: 1.45rem;
      margin-bottom: var(--spacing-md);
    }
  }
}

footer{
  padding: var(--spacing-lg) 0;
  text-align: center;
  p{
    margin-bottom: 0;
  }
}

/* Footer Section */
.footer-section {
  background-color: var(--background-color) !important; /* Ensure override if Bootstrap has other bg-dark styles */
  color: var(--text-color) !important;
  font-size: var(--font-size-sm-3);
}

.footer-section h5 {
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: var(--spacing-md) !important; /* Bootstrap override */
}

.footer-section .footer-logo {
  height: 50px; /* Adjust as needed */
  border-radius: 0; /* Override global img radius if needed */
}

.footer-section p.small {
  color: var(--text-color);
  line-height: 1.6;
}

.footer-section .list-unstyled a {
  color: var(--text-color);
  transition: color var(--transition-speed) ease;
}

.footer-section .list-unstyled a:hover {
  color: var(--primary-color) !important;
  text-decoration: underline;
}

.footer-section .social-icons a {
  color: var(--text-color);
  transition: color var(--transition-speed) ease;
}

.footer-section .social-icons a:hover {
  color: var(--primary-color) !important;
}

.footer-section form{
  margin-top: var(--spacing-md);
}

.footer-section .form-control-sm {
  font-size: var(--font-size-sm-2); /* Smaller font for input */
  box-shadow: none;
}


.footer-section .input-group .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--light-text-color);
}

.footer-section .input-group .btn-primary:hover {
    background-color: var(--accent-color) !important; /* Using accent for hover on this specific button */
    border-color: var(--accent-color);
}

.footer-section hr {
  border-top: 1px solid #495057; /* Darker hr for contrast */
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  h1 { font-size: 1.9rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4,h5,h6 { font-size: 1rem; }
  
  .container{
    width: 95%;
  }


    nav{
      padding: 0;
      margin-top: var(--spacing-lg);
      border-bottom: 1px solid var(--border-color);

      .desktop-navbar {
        display: none;
      }

      .mobile-navbar {
        display: flex;
        padding: var(--spacing-sm) 0;
        .navbar-brand {
            img{
                width: 95px;
            }
        }
      }
    }

    #hero-section {
        height: auto;
        margin: var(--spacing-xxxl) 0;

        .hero-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: var(--spacing-xl);
        }

        img{
            height: 300px;
        }
    }

    /* Trust Section */
    #trust-section{
      padding: var(--spacing-xxl) 0;

      h5{
        line-height: 2rem;
        i.br{
          display: inline;
        }
      }

      p{
        font-size: var(--font-size-sm-3) !important;
      }
    }

    /* Start Section */
    #start-section{
      .row{      
        img{
            height: 250px;
            margin-bottom: var(--spacing-lg);
        }
      }
    }

    /* Countires */
    #countries-section {
      padding: var(--spacing-xxxl) 0;

      #country-content{
        margin-bottom: var(--spacing-lg);
      }

      #imageCarousel{
        .carousel-inner{
          img{
          height: 350px;
        }
        }
      }
    }

    /* FAQ Section */
    #faq-section{

      .header{
          h2{
            margin-bottom: var(--spacing-xl);
          }
      }

      h3{
        button{
          font-size: var(--font-size-1);
        }
      }

      .faq-alt{
        margin-top: var(--spacing-lg);
      }
    }

    /* Register Section */
    #register-section {
      ul{
        margin-top: var(--spacing-lg);

        li{
          
          i.bi{
            padding-right: var(--spacing-sm);
          }

          font-size: var(--font-size-1);
          margin-bottom: var(--spacing-sm);
        }
      }
    }

}